#openAcessibilidade {
    display: none;
    position: fixed;
    top: 12px;
    left: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    border-radius: 5px;
    z-index: 9999;
    max-width: 300px; 
    width: 100%;
}

#openAcessibilidade button {
    background-color: #824f8b;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

#openAcessibilidade button:hover {
    background-color: #63306f;
}

#container_acess {
    background-color: #824f8b;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    margin-top: 0;
}

#container_acess:hover {
    background-color: #63306f;
}

#container_acess img {
    width: 40px;
    height: 40px;
}

#container_acess p.acess {
    margin: 0;
    font-size: 1.2rem;
}
